*{
    background-color: grey;
    border: 2px dotted;
    font-family: "Comic Sans MS", sans-serif;
}
.top{
    font-size: 3vw;
    font-style: initial;
    margin: 0vw;
    text-align: center;
}
#title{
    margin: 0vw;
    border-bottom: medium solid;
}
.calendar{
    margin: 0px;
    width: 300px;
    border: 0px;
    float: left;
}
.edumate{
    text-align: right;
    float: right;
}
#edumateHeader, #calendarHeader{
    border-width: 0px;
    font-size: 1.5vw;
    margin: 0px;
    border: 0px;
}