nav .brand-logo {
    padding-left: 15px;
}
nav .nav-wrapper{
    background-color: #29b6f6;
}
.page-footer {
    background-color: #29b6f6;
    text-align: center;
}
.row .col.m5 {
    padding-top: 20px;
    width: 670px;
}
.header-api {
    font-size: 18px;
}
.card .card-content {
    padding: 20px;
}
.row .col.m7 {
    padding-top: 20px;
    width: 760px;
}
.card-action-1 {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 13px;
}
.copyright-text {
    padding-top: 0px;
    padding-left: 20px;
}
.page-footer .footer-copyright {
    padding: 0px;
}
.row .col.m6 {
    width: 490px;
}